<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="C:/DemoLogs/internal_logs/internallog.txt">

  <targets>
    <target name="infofile" xsi:type="File"
            fileName="C:/DemoLogs/logs/${shortdate}_info.logs.txt"
            layout="${longdate} ${level:uppercase=true} ${message}"/>




	  <target name="timerecordfile" xsi:type="File"
		fileName="C:/DemoLogs/logs/${shortdate}_timerecordfile.logs.txt"
		layout="${longdate} ${level:uppercase=true} ${message}"/>
	  
	  <!-- This is the section to define where to log the time elapsed-->
	  <target name="debugfile" xsi:type="File"
		fileName="C:/DemoLogs/logs/${shortdate}_debug.logs.txt"
		layout="${longdate} ${level:uppercase=true} ${message}"/>

	  <target name="errorFile" xsi:type="File"
	fileName="C:/DemoLogs/logs/${shortdate}_error.logs.txt"
	layout="${longdate} ${level:uppercase=true} ${message}"/>


  </targets>

  <rules>

	  <logger name ="*.TimeRecorderService" minlevel="Info" writeTo="timerecordfile"></logger>
	  <logger name ="*.TimeRecorderService" minlevel="Debug" writeTo="timerecordfile"></logger>
	  
	  <logger name ="*.TimeMeasurer" minlevel="Info" writeTo="timerecordfile"></logger>


	  <logger name="*" minlevel="Info" writeTo="infofile" />
	  <logger name="*" minlevel="Debug" writeTo="debugfile" />
	  <logger name="*" minlevel="Error" writeTo="errorFile" />
	  
  </rules>
</nlog>